# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Secrets
.env
.env.*
data.json
debug_html/

# Login auth
save_auth.py
state.json

# Temp Files
login_cred_tests.py
debug_backed.py

# Editor/OS junk
.vscode/
.idea/
.DS_Store

# local artifacts
__pycache__/
*.pyc
log*.txt
